<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>

    <add name ="connectionstring" connectionString ="Data Source=RSSPL41\MSSQLSERVER17;Initial Catalog=Invoice;persist security info=True; 
   Integrated Security=SSPI"
            providerName="System.Data.SqlClient" />

  </connectionStrings>
  <appSettings>
    <!-- ... -->
    <add key="lb_GSTNumber" value="GSTIN 30ACHPG1046M1ZY"/>
    <add key="lb_Signature" value="For Bhagirathi Enterprises"/>
    <!-- ... -->
  </appSettings>
</configuration>